[submodule "ROUND - 2/Stochastic-Minds-P1/DataVerse-P1-Stochastic_minds"]
	path = ROUND - 2/Stochastic-Minds-P1/DataVerse-P1-Stochastic_minds
	url = https://github.com/thakkarneel85-spec/DataVerse-P1-Stochastic_minds
